@font-face {
    font-family: "TT Norms Pro Light";
    /* 300 */
    src: url("../fonts/TT\ Norms\ Pro\ Light.otf");
}

@font-face {
    font-family: "TT Norms Pro Regular";
    /* 400 */
    src: url("../fonts/TT\ Norms\ Pro\ Regular.otf");
}

@font-face {
    font-family: "TT Norms Pro Medium"; 
    /* 500 */
    src: url("../fonts/TT\ Norms\ Pro\ Medium.otf");
}

@font-face {
    font-family: "TT Norms Pro Bold";
    /* 700 */
    src: url("../fonts/TT\ Norms\ Pro\ Bold.otf");
}

body {
    background-color: #FFA451;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.back {
    width: 90%;
    height: 10vh;
    display: flex;
    align-items: flex-end;
    
}

.backLink {
    text-decoration: none;
    color: #27214D;
}

.backDiv {
    background-color: #FFFFFF;
    height: 32px;
    width: 72px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.backH3 {
    font-family: "TT Norms Pro Regular";
    font-size: 12px;
}

.photo {
    height: 200px;
}

.productValue{
    height: 60vh;
    background-color: white;
    border-radius: 15px 15px 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

h1{
    width: 90%;
    color: #27214D;
    font-size: 24px;
    font-family: "TT Norms Pro Medium"; 
}

.counterMoney {
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
}

.counter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 25vw;
}

.border {
    background-color: #FFF2E7;
    height: 32px;
    width: 32px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.number{
    color: #27214D;
    font-size: 24px;
    font-family: "TT Norms Pro Medium"; 
}

.money {
    display: flex;
    align-items: center;
}

.dolar {
    height: 16px;
}

.quantity {
    color: #27214D;
    font-family: "TT Norms Pro Medium"; 
    font-size: 24px;
}

.combo {
    background-color: white;
    height: 43vh;
}

.title {
    display: flex
}
.comboTitle {
    font-family: "TT Norms Pro Regular";
    width: auto;
    font-size: 18px;
    color: #27214D;
}

.comboDiv {
    display: flex;
    flex-direction: column;  
    align-items: center;
    height: 65%;
    justify-content: space-evenly;
}

.borderIngredients{
    background-color: #FAFAFA;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5vh;
    color: #403E3E;
    cursor: pointer;
    border-radius: 10px;
    
}

.ingredients {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    font-family: "TT Norms Pro Regular";
    gap: 5px;
}

.description {
    font-family: "TT Norms Pro Light";
    font-size: 14px;
    width: 90%;
    height: 12vh;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 24px;
    color: #333333;
}

.add {
    display: flex;
    width: 90%;
    justify-content: space-between;
}

.heartFigure{
    background-color: #FFF7F0;
    width: 48px;
    height: 48px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.addButton{
    color: white;
    background-color: #FFA451;
    border: none;
    border-radius: 10px;
    width: 219px;
    height: 56px;
    font-size: 16px;
    font-family: "TT Norms Pro Medium"; 
    cursor: pointer;
}

@media (min-width: 1540px) and (max-width: 3000px) {
    .back {
        width: 50%;
    }
    .backDiv{
        height: 5vh;
        width: 150px;
    }
    .backH3{
        font-size: 1.5rem;
    }
    .arrow {
        height: 3vh;
    }
    .photo{
        height: 29.3vh;
    }
    main{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .productValue{
        width: 50%;
    }
    h1{
        font-size: 2rem;
    }
    .number{
        font-size: 2rem;
    }
    .counter{
        width: 20%;
    }
    .border {
        height: 50px;
        width: 50px;
    }
    .quantity{
        font-size: 2rem;
    }
    .dolar{
        width: 60%;
        height: 50%;
    }
    .comboTitle{
        font-size: 2rem;
    }
    .borderIngredients{
        font-size: 1.5rem;
    }
    .description{
        font-size: 1.5rem;
    }
    .addButton{
        font-size: 1.5rem;
    }
    .title{
        justify-content: start;
        align-items: center;
        width: 90%;
        height: 5vh;
        gap: 5px;
    }
    .underline{
        border-bottom: 2px #FFA451 solid;
    }
}

@media (min-width: 1024px) and (max-width: 1540px) {
    .backDiv{
        height: 4vh;
        width: 100px;
    }
    .backH3{
        font-size: 1rem;
    }
    .back {
        width: 70%;
    }
    .arrow {
        height: 2vh;
    }
    .photo{
        height: 28.8vh;
    }
    .counter{
        width: 20%;
    }
    main{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .productValue{
        width: 70%;
    }
    .quantity{
        font-size: 2rem;
    }
    .dolar{
        height: 3vh;
    }
    .comboTitle{
        font-size: 2rem;
    }
    .title{
        width: 85%;
        gap: 5px;
    }
    .underline{
        width: auto;
        border-bottom: 2px #FFA451 solid;
    }
    .borderIngredients{
        font-size: 1.5rem;
    }
    .comboDiv{
        width: 100%;
    }

    .description{
        font-size: 1.5rem;
    }
    .addButton{
        font-size: 1.5rem;
    }
}
@media (min-width: 450px) and (max-width: 1024px) {
    .backDiv{
        height: 5vh;
        width: 150px;
    }
    .backH3{
        font-size: 1.5rem;
    }
    .arrow {
        height: 3vh;
    }
    .photo{
        height: 28.8vh;
    }
    .comboDiv{
        width: 100%;
    }
    .back {
        width: 90%;
    }
    main{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .productValue{
        width: 100%;
    }
    .quantity{
        font-size: 2rem;
    }
    .dolar{
        height: 2vh;
    }
    .comboTitle{
        font-size: 2rem;
    }
    .title{
        width: 85%;
        gap: 5px;
    }
    .underline{
        width: auto;
        border-bottom: 2px #FFA451 solid;
    }
    .borderIngredients{
        font-size: 1.5rem;
    }
    .comboDiv{
        width: 95%;
    }
    .description{
        font-size: 1.8rem;
    }
    .addButton{
        font-size: 1.5rem;
    }
    .heartFigure{
        height: 5vh;
        width: 8vw;
    }
}
@media (min-width: 320px) and (max-width: 450px) {
    .backDiv{
        height: 4vh;
        width: 90px;
    }
    .backH3{
        font-size: 1rem;
    }
    .arrow {
        height: 2vh;
    }
    .photo{
        height: 28.8vh;
    }
    .comboDiv{
        width: 100%;
    }
    main{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .productValue{
        width: 60%;
    }
    .back {
        width: 90%;
    }
    main{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .productValue{
        width: 100%;
    }
    .quantity{
        font-size: 1.5rem;
    }
    .dolar{
        height: 2vh;
    }
    .comboTitle{
        font-size: 1.5rem;
    }
    .title{
        width: 90%;
        gap: 5px;
    }
    .underline{
        width: auto;
        border-bottom: 2px #FFA451 solid;
    }
    .borderIngredients{
        font-size: 0.8rem;
        width: 80px;
    }
    .ingredients{
        width: 90%;
    }
    .comboDiv{
        width: 98%;
    }
    .description{
        font-size: 1rem;
    }
    .addButton{
        font-size: 1rem;
    }
}

@media (min-width: 100px) and (max-width: 320px) {
    .backDiv{
        height: 4vh;
        width: 90px;
    }
    .backH3{
        font-size: 1rem;
    }
    .arrow {
        height: 2vh;
    }
    .photo{
        height: 28.8vh;
    }
    .comboDiv{
        width: 100%;
    }
    main{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .productValue{
        width: 60%;
    }
    .back {
        width: 90%;
    }
    main{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .productValue{
        width: 100%;
    }
    .quantity{
        font-size: 1rem;
    }
    .dolar{
        height: 2vh;
    }
    .comboTitle{
        font-size: 1rem;
    }
    .title{
        width: 90%;
        gap: 5px;
    }
    .underline{
        width: auto;
        border-bottom: 2px #FFA451 solid;
    }
    .borderIngredients{
        font-size: 0.8rem;
        width: 70px;
    }
    .ingredients{
        width: 90%;
    }
    .comboDiv{
        width: 98%;
    }
    .description{
        font-size: 0.8rem;
    }
    .addButton{
        font-size: 1rem;
    }
}