@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');

/* font-family: 'Bad Script', cursive; */

@font-face {
    font-family: "TT Norms Pro Bold";
    src: url("../fonts/TT\ Norms\ Pro\ Bold.otf");
}
@font-face {
    font-family: "TT Norms Pro Light";
    src: url("../fonts/TT\ Norms\ Pro\ Light.otf");
}
@font-face {
    font-family: "TT Norms Pro Medium";
    src: url("../fonts/TT\ Norms\ Pro\ Medium.otf");
}
@font-face {
    font-family: "TT Norms Pro Regular";
    src: url("../fonts/TT\ Norms\ Pro\ Regular.otf");
}

:root {
    --main-color: #FFA451;
}

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh
}

.figureBasket{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%
}

h1 {
    color: white;
    font-family: 'Bad Script', cursive;
    font-size: 24px;
    font-weight: 400;
}

.container {
    height: 40px;
    width: 184px;
    box-shadow: 0px -30px 60px 0px #2020200D;
    background-color: var(--main-color);
    border-radius: 15px 0px 15px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.start {
    display: none;
    height: 100vh;
    flex-direction: column;
}

.login {
    display: flex;
    height: 100vh;
    flex-direction: column;
}

.figureFruits {
    display: flex;
    align-items: center;
    flex-direction: column;   
}

.fruits {
    background-color: var(--main-color);
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .shadow {
    
}
.fruitsImg {
    
} */

.contents {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 40%;
}

.title {
    font-family: "TT Norms Pro Bold";
    font-size: 16px;
    width: 90%;
    color: #27214D;
}

.paragraph {
    font-size: 16px;
    font-family: "TT Norms Pro Regular";
    width: 90%;
    color: #5D577E;
}

.continue {
    height: 60px;
    width: 90%;
    background-color: var(--main-color);
    color: white;
    border-radius: 10px;
    border: none;
    font-family: "TT Norms Pro Medium";
    font-size: 16px;
}

.continueLink {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 90%;
}

.writeName {
    background-color: #F7F5F5;
    color: black;
    width: 90%;
    height: 50px;
    border-radius: 15px;
    font-size: 16px;
    font-family: "TT Norms Pro Medium";
    border: none;
    text-align: center;
}

.writeName::placeholder{
    color: #C2BDBDB2;
    position: relative;
    left: 15px;
    text-align: start;   
}


@media (min-width:1440px) and (max-width: 3000px){
    .fruitsImg{
        height: 50vh;
    }
    .shadow{
        width: 25vw;
    }
    .title{
        font-size: 2rem;
        width: 60%;
    }
    .paragraph{
        font-size: 1.5rem;
        width: 60%;
    }
    .continue{
        font-size: 1.5rem;
        width: 70%;
    }
    .basket{
        height: 25vh;
    }
}

@media (min-width: 910px) and (max-width:1440px){
    .fruitsImg{
        height: 40vh;
    }
    .shadow{
        width: 35vw;
    }
    .title{
        font-size: 2rem;
        width: 80%;
    }
    .paragraph{
        font-size: 1.5rem;
        width: 80%;
    }
    .continue{
        font-size: 1.5rem;
    }
    .basket{
        height: 25vh;
    }
}

@media (min-width: 425px) and (max-width:910px){
    .fruitsImg{
        height: 40vh;
    }
    .shadow{
        width: 35vw;
    }
    .title{
        font-size: 1.5rem;
        width: 80%;
    }
    .paragraph{
        font-size: 1rem;
        width: 80%;
    }
    .continue{
        font-size: 1.5rem;
    }
    .basket{
        height: 25vh;
    }
    .container {
        width: 30%;
    }
}

@media (min-width: 412px) and (max-width:425px){
    .title{
        font-size: 1.5rem;
        width: 80%;
    }
    .paragraph{
        font-size: 1rem;
        width: 80%;
    }
    .continue{
        font-size: 1rem;
    }
}

@media (min-width: 280px) and (max-width:410px){
    .fruitsImg{
        height: 30vh;
    }
    .shadow{
        width: 70vw;
    }
    .title{
        font-size: 1rem;
        width: 80%;
    }
    .paragraph{
        font-size: 0.8rem;
        width: 80%;
    }
    .continue{
        font-size: 1rem;
        height: 50px;
    }
}


